/* Basic font-styles: line-height, font-family, text color */
@import url("https://fonts.googleapis.com/css2?family=Azeret+Mono:ital,wght@0,100..900;1,100..900&display=swap");

/* Here is common CSS Shared style for all pages. */
.azeret-mono-custom {
  font-family: "Azeret Mono", monospace;
  font-optical-sizing: auto;
  font-style: normal;
}
.btn-primary {
  padding: 17px 24px;
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
  opacity: 0.8;
}

/* Reset margin, padding, and box-sizing for all elements */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Header Section Style is Here */
/* Style for the navigation & list items, headings */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 50px 150px;
}
nav ul li {
  list-style: none;
}
nav ul a {
  text-decoration: none;
}
.nav-title {
  font-size: 28px;
  font-weight: 800;
  text-decoration: none;
  color: rgb(13, 19, 33);
}
/* Banner Section Style is Here  */
#about-future {
  background-image: url("../images/Hero-bg.png");
  background-repeat: no-repeat;
  background-size: cover;
}
.banner {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}
.banner-content {
  max-width: 1000px;
  margin: 40px 0px;
}
.banner-title {
  color: rgb(13, 19, 33);
  font-size: 48px;
  font-weight: 800;
  line-height: 68px;
  text-align: center;
}
.banner-image {
  max-width: 1000px;
}
.banner-image img {
  width: 100%;
}
.btn-contact {
  padding: 17px 24px;
  color: rgb(255, 255, 255);
  background-color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  text-align: center;
  border: 1px solid rgb(13, 19, 33);
  border-radius: 8px;
}
.btn-container {
  margin: 24px 0px;
  text-align: center;
}
.banner-description {
  padding: 24px 0px;
  color: rgb(13, 19, 33);
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  opacity: 0.8;
}

/* Development Section Style is Here */
#projects {
  background: rgba(13, 19, 33, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 80px auto;
  padding: 80px 97px;
  border-radius: 16px;
}
.container {
  max-width: 1140px;
}
.project {
  background: linear-gradient(
    90deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0) 100%
  );
  -o-border-radius: 16px;
  max-width: 940px;
  margin: 32px 10px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  border-radius: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  gap: 98px;
}
.project-title {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  letter-spacing: 0%;
  text-align: center;
  margin: 45px 0px;
}
.project-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.8;
}
.project-sub-title {
  color: rgba(13, 19, 33, 0.7);
  font-size: 24px;
  font-weight: 700;
  text-align: left;
  margin: 16px 0px;
}
.project-content {
  max-width: 50%;
  margin: 16px 24px;
}
.project-image {
  max-width: 50%;
  margin: 16px 24px;
}
.project-sub-description {
  margin: 16px 0px;
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: left;
  opacity: 0.7;
}
.learn-more {
  color: rgb(13, 19, 33);
  padding: 12px 24px;
  margin: 24px 0px;
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  letter-spacing: 0%;
  text-align: center;
  box-sizing: border-box;
  border: 1px solid rgb(13, 19, 33);
  opacity: 0.7;
}
.project-content a {
  text-decoration: none;
}
.learn-more:hover {
  color: rgb(255, 255, 255);
  background-color: rgb(13, 19, 33);
  border: 1px solid rgb(50, 54, 63);
  -o-border-radius: 17px;
  opacity: 0.81;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  border-radius: 8px;
}

/* Inspiration Section Style is Here */

#inspiration {
  width: 80%;
  margin: 80px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
.inspiration-content {
  max-width: 1440px;
  width: 80%;
  margin: 0px 145px;
  padding: 28px 0;
}
.inspiration-view {
  max-width: 1440px;
  margin: 60px 0px;
  padding: 32px;
  box-sizing: border-box;
  border: 1px solid rgba(13, 19, 33, 0.2);
  border-radius: 16px;
}
.goal-tracker {
  border-radius: 16px;
}
.daily-inspiration {
  color: rgb(13, 19, 33);
  font-size: 32px;
  font-weight: 800;
  line-height: 37px;
  text-align: center;
}
.success-journey {
  color: rgb(13, 19, 33);
  margin: 24px 0px;
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.7;
}
/* Target Section Style is Here  */
#dreams-journey {
  width: 80%;
  margin: 80px auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 48px;
  flex-direction: column;
}
.growth-content {
  max-width: 1140px;
}
.goals-tracker {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  text-align: left;
}
.vision {
  width: 380px;
  padding: 32px;
  border-radius: 16px;
  border-radius: 16px;
  opacity: 0.7;
}
.goal-card-one {
  background: rgba(255, 76, 30, 0.05);
}
.goal-card-two {
  background: rgba(0, 76, 232, 0.05);
}
.goal-card-three {
  background: rgba(255, 223, 0, 0.05);
}
.learn-mores {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  letter-spacing: 0%;
  margin: 24px 0px;
  padding: 16px;
  text-align: left;
  text-decoration-line: underline;
}
.vision img {
  -webkit-filter: brightness(100%);
  width: 20%;
  filter: brightness(100%);
}
/* The next target section style is here  */
#unique-card-container {
  background: rgba(13, 19, 33, 0.02);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 80%;
  margin: 80px auto;
  padding-bottom: 80px;
  border-radius: 16px;
}
.card-wrapper {
  position: static;
  width: 892.49px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24;
  padding: 0px;
  margin: 16px 0px;
}
.target-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.8;
}
.target-title {
  color: rgb(13, 19, 33);
  margin: 8px 0px;
  font-size: 24px;
  font-weight: 800;
  line-height: 36px;
  text-align: left;
}
.target-description {
  color: rgb(13, 19, 33);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  letter-spacing: 0%;
  text-align: left;
}
.learn-more-anchor {
  color: rgb(13, 19, 33);
  margin: 24px 0px;
  font-size: 16px;
  font-weight: 700;
  line-height: 19px;
  text-align: left;
  text-decoration-line: underline;
}
.custom-card-container {
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 16px;
  background: rgb(255, 255, 255);
  position: static;
  max-width: 1140px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 38px;
  padding: 40px;
  margin: 24px 0px;
}
.project-image img {
  width: 80%;
}

/* Support Section Style is here */
#support {
  border-radius: 16px;
  background: rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2),
    url(Email);
  background-image: url("../images/handshake.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 80%;
  margin: 80px auto;
  border-radius: 16px;
}
.support-container {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 24px;
  max-width: 1440px;
  width: 80%;
  margin: 0px 145px;
  padding: 28px 0;
}
.support-title {
  color: rgb(255, 255, 255);
  margin: 16px 0px;
  font-size: 32px;
  font-weight: 700;
  line-height: 36px;
  text-align: center;
}
.support-description {
  color: rgb(255, 255, 255);
  font-size: 16px;
  font-weight: 400;
  line-height: 26px;
  text-align: center;
  opacity: 0.8;
}
.form-container {
  display: flex;
  align-items: center;
  justify-content: center;
}
.form-textarea {
  text-align: center;
  max-width: 548px;
  margin: 0px 16px;
  padding: 19px 20px;
  font-size: 16px;
  font-weight: 400;
  height: 57px;
  border: 1px solid rgba(13, 19, 33, 0.15);
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.form-submit {
  width: 120px;
  height: 57px;
  font-size: 17px;
  margin: 0px 10px;
  padding: 17px 20px;
  border-radius: 8px;
  background: rgb(255, 255, 255);
}
.form-submit:hover{ 
    background-color: rgba(7, 9, 14, 0.76);
    color: rgb(255, 255, 255);
    transform: scale(1.05);
}
/* Support Section Style is End */

/* footer section style is here */
#footer {
  width: 100%;
  padding: 32px 150px;
  border-radius: 16px;
  background: rgba(13, 19, 33, 0.03);
}
.footer-title {
  color: rgb(13, 19, 33);
  font-size: 20px;
  font-weight: 600;
  line-height: 23px;
  text-align: center;
  opacity: 0.8;
}
.footer-section {
  max-width: 1440px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.footer-social-media a {
  text-decoration: none;
  margin: 0px 10px;
}
/* footer section style is end */
